@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* Custom styles for your blog components */
@layer components {
    /* Styling for preformatted code blocks */
    pre {
        @apply w-full p-4 overflow-auto bg-gray-100 text-gray-800 rounded-md mb-4 border border-gray-300;
    }
 
    /* Paragraph styling */
    p {
        @apply p-2 font-normal text-gray-700 leading-relaxed;
    }
 
    /* Heading 1 styling */
    h1 {
        @apply text-4xl font-bold text-gray-900 mb-2;
    }
 
    /* Heading 2 styling */
    h2 {
        @apply text-3xl font-bold text-gray-900  p-2 border-b border-gray-300;
    }
 
    /* Heading 3 styling */
    h3 {
        @apply text-2xl font-bold text-gray-800 ;
    }
 
    /* Heading 4 styling */
    h4 {
        @apply text-xl font-semibold text-gray-700 ;
    }
 
    /* Heading 5 styling */
    h5 {
        @apply text-lg font-semibold text-gray-600 ;
    }
 
    /* Ordered list styling */
    ol {
        @apply list-decimal pl-6 mb-4 text-gray-700;
    }
 
    /* Unordered list styling */
    ul {
        @apply list-disc pl-6 mb-4 text-gray-700;
    }
 
    /* Anchor (link) styling */
     a {
        @apply text-blue-600 cursor-pointer hover:text-blue-800;
    }
 
    /* Table styling */
    table {
        @apply w-full table-auto border-collapse my-4;
    }
 
    th {
        @apply p-2 bg-gray-200 text-gray-800 border border-gray-300;
    }
 
    td {
        @apply p-2 border border-gray-300 text-gray-700;
    }
 
    /* Blockquote styling */
    blockquote {
        @apply border-l-4 border-blue-500 pl-4 italic text-gray-600;
    }
 
    /* Horizontal rule styling */
    hr {
        @apply border-t border-gray-300 my-4;
    }
 
    /* Buttons styling */
    /* button {
        @apply bg-blue-600 text-white font-semibold px-4 py-2 rounded hover:bg-blue-700;
    } */
}